:root {
    --background: #000;
    --text: #fff;
    --accent: #00ccff;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, serif;
    background: var(--background);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: color 0.2s ease, background-color 0.2s ease;
}

a:hover {
    background-color: var(--accent);
    color: var(--text);
}

.blog-header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: var(--background);
}

.blog-header img {
    height: 3rem;
}

.blog-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.blog-header a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.2s ease;
    background-color: transparent;
}

.blog-header a:hover {
    color: var(--accent);
}

.home-container {
    padding: 1rem;
    margin-top: 80px;
}

.home-header {
    margin: 0;
    font-size: 1.5rem;
}

.home-header .links-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-morph {
    background-color: var(--text);
    color: var(--background);
    border: var(--text) 4px solid;
    padding: 0.5rem 1.5rem;
    transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease, height 0.5s ease;
}

.post-morph:hover {
    background-color: var(--background);
    color: var(--accent);
    border: var(--accent) 4px solid;
}

.post-link {
    text-decoration: none;
    background-color: transparent !important;
}

@media (max-width: 500px) {
    .blog-header h1 {
        display: none;
    }
}